<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<clientCache cacheControlMode="DisableCache" />
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<add name="Cache-Control" value="no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0, post-check=0, pre-check=0" />
				<add name="Pragma" value="no-cache" />
				<add name="Expires" value="-1" />
				<add name="Last-Modified" value="0" />
				<add name="Vary" value="*" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>